@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html,
#root {
  height: 100%;
}
body {
  margin: 20px 2rem;
  width: calc(100% - 4rem);
  height: calc(100% - 40px);
}

main {
  margin-top: 20px;
  height: calc(100% - 70px);
}
/* blue 400, 600 */
